<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/add.css">
</head>

<body>
    <div class="box">
        <h1>Adding the Job</h1>
        <form action="/add" method="post">
            <input type="text" name="jobname" placeholder="job Name"><br>
            <input type="text" name="company" placeholder="company Name" /><br />
            <input type="text" name="link" placeholder="Enter you link" /><br />
            <input type="date" name="deadline" placeholder="Enter data" /><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>